@use "../abstracts";

.about-me {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  padding: 2rem;
  gap: 4rem;

  grid-column: 1 / -1;

  .about-me__picture {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    gap: map-get(abstracts.$spacings, "md");
    align-items: center;
  }

  .about-me__image {
    width: 32.2rem;
    border-radius: 50%;
    filter: grayscale(100%);
  }

  .about-me__image-alt {
    text-align: center;

    font-size: map-get(abstracts.$font-sizes, "regular");
    font-style: italic;
    font-weight: 400;
    line-height: map-get(abstracts.$line-height-scale, "loose");
  }

  .about-me__content {
    grid-column: 2 / -1;
  }

  .about-me__content-intro {
    font-size: map-get(abstracts.$font-sizes, "huge");
    font-style: normal;
    font-weight: 400;
    line-height: map-get(abstracts.$line-height-scale, "loose");
    margin-bottom: map-get(abstracts.$spacings, "xxl");
    position: relative;
    font-family: "Libre Caslon Text", serif;

    &::before {
      content: "";
      position: absolute;
      left: 27rem;
      width: calc(100% - 27rem);
      height: 1px;
      background-color: abstracts.$silver;
      right: 0;
      top: 50%;
      bottom: 50%;
    }
  }

  .about-me__content-text {
    font-size: map-get(abstracts.$font-sizes, "regular");
    font-style: normal;
    font-weight: 400;
    line-height: map-get(abstracts.$line-height-scale, "tight");
    /* 118.75% */
    font-size: map-get(abstracts.$font-sizes, "regular");
  }

  .about-me__content-signature {
    text-align: right;
    font-size: map-get(abstracts.$font-sizes, "lg");
    font-style: italic;
    font-weight: 400;
    margin-top: map-get(abstracts.$spacings, "huge");
    line-height: map-get(abstracts.$line-height-scale, "loose");
    /* 100% */
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 20%;
      height: 1px;
      background-color: abstracts.$silver;
      right: 9rem;
      top: 50%;
    }
  }

  @include abstracts.respond("xs-desktop") {
    padding: 1rem;
  }
  @include abstracts.respond("l-tablet") {
    gap: 2rem;
    grid-template-columns: 1fr 2.5fr;
  }
}
