@use "../abstracts";

.article {
  &__heading {
    font-size: map-get(abstracts.$font-sizes, "huge");
    font-family: "Libre Caslon Text", serif;
    position: relative;
    align-self: end;
    &::before {
      content: "";
      position: absolute;
      left: 22rem;
      width: calc(100% - 22rem);
      height: 1px;
      background-color: abstracts.$silver;
      top: 50%;
    }
    margin-bottom: 1rem;
  }
  &-search__form {
    padding: 3rem;
    height: fit-content;
    background-color: abstracts.$satin-linen;

    &-input,
    &-select,
    &-option {
      padding-inline: 2rem;
      padding-block: 1rem;
      font-size: map-get(abstracts.$font-sizes, "regular");
      border: solid 1px abstracts.$dove-gray;
      background-color: abstracts.$gallery;
      color: abstracts.$black;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  &__item {
    a {
      text-decoration: none;
      &:hover {
        //font-style: normal;
      }
      img {
        aspect-ratio: 1/1;
        width: 100%;
      }
    }
    &-title {
      font-size: map-get(abstracts.$font-sizes, "medium");
      text-align: center;
      margin-bottom: 1rem;
    }
    &-image {
      margin-bottom: 2rem;
    }
    &-description {
      text-align: center;
      margin-inline: 0.5rem;
      margin-bottom: 1rem;
    }
    &-author {
      font-size: map-get(abstracts.$font-sizes, "regular-medium");
      font-family: "Libre Caslon Text", serif;
      text-align: end;
      font-style: italic;
    }
  }

  @include abstracts.respond("xs-tablet") {
    &-search__form {
      margin-bottom: 2rem;
    }
    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
    &__item {
      &-title {
        font-size: 2.2rem;
        font-weight: map-get(abstracts.$font-weights, "medium");
      }
      &-description {
        font-size: 1.8rem;
      }
      &-author {
        font-size: 2rem;
      }
    }
    .grid-main &-detail {
      gap: 2rem;
    }
    &-detail__right-date {
      font-size: 1.9rem;
    }
    &-detail__right &-detail__right-description {
      font-size: 1.9rem;
    }
  }
  @include abstracts.respond("l-phone") {
    &-detail {
      &__right &__right-heading {
        font-size: 2.8rem;
      }
      margin-inline: 1rem;
      & &__left-image {
        min-width: 30rem;
      }
    }
  }
  @include abstracts.respond("m-phone") {
    &-detail {
      flex-direction: column;
      align-items: center;
      text-align: center;
      &__right {
        &-description {
          margin-inline: 1rem;
        }
        &-horizontal {
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
