@use "../abstracts";

.article-detail {
  display: flex;
  gap: 1rem;
  margin-top: 5rem;
  &__left {
    &-image {
      height: auto;
      min-width: 35rem;
      
      margin-bottom: 2rem;
    }
    &-like {
      text-decoration: none;
      display: inline-flex;
      margin-top: 1rem;
      align-items: center;
      width: fit-content;
      gap: 1rem;
      padding-block: 1rem;
      padding-inline: 2rem;

      background-color: abstracts.$black;
      color: abstracts.$nero;
      border-radius: 1rem;
      img {
        width: 3rem;
      }
    }
  }
  &__right {
    flex-grow: 1;
    &-heading {
      font-size: map-get(abstracts.$font-sizes, "xxl");
      font-family: "Libre Caslon Text", serif;
      margin-bottom: 2rem;
    }
    &-horizontal {
      display: flex;
      align-items: center;
      gap: 2rem;
      &.fullgap {
        gap: 0;
        justify-content: space-between;
      }
    }
    &-author {
      font-weight: map-get(abstracts.$font-weights, "semi-bold");
      font-size: map-get(abstracts.$font-sizes, "medium");
    }
    &-description {
      margin-top: 2rem;
      font-size: map-get(abstracts.$font-sizes, "regular-medium");
      line-height: 2rem;
      letter-spacing: 0.5px;
    }
    &-rating {
      display: flex;
      img {
        width: 3rem;
      }
    }
  }
  &__add-rating {
    &-input,
    &-select,
    &-option {
      padding-inline: 1.5rem;
      padding-block: 1rem;
      font-size: map-get(abstracts.$font-sizes, "regular");
      border: solid 1px abstracts.$dove-gray;
      background-color: abstracts.$gallery;
      color: abstracts.$black;
      &.scale {
        min-width: 25rem;
      }
    }
  }
}
