.works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 4.5rem;
  margin-top: 3rem;
}

.work {}

.last-book {
  grid-column: 1 / 2;
}

.quick-links {
  grid-column: 2 / 3;
}

.book-quote {
  grid-column: 3 / 4;
}