main.load_effect {
  opacity: 0;
  animation: load_anim 0.45s ease-in 0.15s forwards;
}

@keyframes load_anim {
  0% {
    opacity: 0;
    filter: contrast(0) brightness(2);
  }
  100% {
    opacity: 1;
    filter: contrast(1) brightness(1);
  }
}
