{% extends "base.html"  %}

{% load static %}

{% block main %}
    <h1 class="article__heading">Yazılarım</h1>

    <form class="article-search__form" method="get" action="{% url 'articles:article-search' %}">
      <label for="search-query"></label>
      <input
        class="article-search__form-input"
        name="search-query"
        id="search-query"
        placeholder="Kelimeye göre arat"
        value="{{search_query}}"
      />

      <select class="article-search__form-select" id="genre" name="genre">
        {% for genre in genres %} {% if genre == fgenre %}
        <option class="article-search__form-option" value="{{genre}}" selected="selected">{{genre}}</option>
        {% else %}
        <option class="article-search__form-option" value="{{genre}}">{{genre}}</option>
        {% endif %} {% endfor %}
      </select>

      <select class="article-search__form-select" id="year" name="year">
        {% for year in years %} {% if year == fyear %}
        <option class="article-search__form-option" value="{{year}}" selected="selected">{{year}}</option>
        {% else %}
        <option class="article-search__form-option" value="{{year}}">{{year}}</option>
        {% endif %} {% endfor %}
      </select>

      <select class="article-search__form-select" id="sort" name="sort">
        {% if sorting == "a-z" %}
        <option class="article-search__form-option" value="a-z" selected="selected">A-Z</option>
        <option class="article-search__form-option" value="date">Tarih</option>
        {% elif sorting == "date" %}
        <option class="article-search__form-option" value="a-z">A-Z</option>
        <option class="article-search__form-option" value="date" selected="selected">Tarih</option>
        {% else %}
        <option class="article-search__form-option" value="a-z" selected="selected">A-Z</option>
        <option class="article-search__form-option" value="date">Tarih</option>
        {% endif %}
      </select>

      <input class="article-search__form-input" type="submit" value="Submit" />
    </form>

    <div class="article__container">
      {% for article in articles %}
      <div class="article__item">
        <a href="{% url 'articles:article-detail' article.id %}">
          <img class="article__item-image" src="{{article.cover.url}}" />
          <p class="article__item-title">{{article.title}}</p>
          <p class="article__item-description">{{article.short_description}}</p>
          <p class="article__item-author">{{article.author}}</p>
        </a>

        {% comment "" %}
          <p>{{ article.title }}</p>
          <p>{{ article.short_description }}</p>
          <p>{{ article.author }}</p>
          <p>{{ article.created_at }}</p>
          <p>{{ article.like_count }}</p>
        {% endcomment %}
      </div>
      {% endfor %}
    </div>
{% endblock %}