{% extends "base.html"  %}

{% load static %}

{% block main %}
    <h1 class="book__heading">Kitaplarım</h1>

    <form class="book-search__form" method="get" action="{% url 'books:book-search' %}">
      <label for="search-query"></label>
      <input
        class="book-search__form-input"
        name="search-query"
        id="search-query"
        placeholder="Kelime ile Ara"
        value="{{search_query}}"
      />

      <select class="book-search__form-select" id="genre" name="genre">
        {% for genre in genres %} {% if genre == fgenre %}
        <option class="book-search__form-option" value="{{genre}}" selected="selected">{{genre}}</option>
        {% else %}
        <option class="book-search__form-option" value="{{genre}}">{{genre}}</option>
        {% endif %} {% endfor %}
      </select>

      <select class="book-search__form-select" id="year" name="year">
        {% for year in years %} {% if year == fyear %}
        <option class="book-search__form-option" value="{{year}}" selected="selected">{{year}}</option>
        {% else %}
        <option class="book-search__form-option" value="{{year}}">{{year}}</option>
        {% endif %} {% endfor %}
      </select>

      <select class="book-search__form-select" id="sort" name="sort">
        {% if sorting == "a-z" %}
        <option class="book-search__form-option" value="a-z" selected="selected">A-Z</option>
        <option class="book-search__form-option" value="date">Tarih</option>
        {% elif sorting == "date" %}
        <option class="book-search__form-option" value="a-z">A-Z</option>
        <option class="book-search__form-option" value="date" selected="selected">Tarih</option>
        {% else %}
        <option class="book-search__form-option" value="a-z" selected="selected">A-Z</option>
        <option class="book-search__form-option" value="date">Tarih</option>
        {% endif %}
      </select>

      <input class="book-search__form-input book-search__form-submit" type="submit" value="Submit" />
    </form>

    <div class="book__container">
      {% for book in books %}
      <div class="book-item">
        <ul>
          {% if book.highlight_book %}
          <li class="highlighted">Benim Önerim</li>
          {% endif %}
          <a href="{% url 'books:book-detail' book.id %}">
          {% comment "" %}
            <li>Book Name: {{ book.title }}</li>
            <li>Book Author: {{ book.author }}</li>
            <li>Book Genre: {{ book.genre }}</li>
            <li>Book Date: {{ book.date }}</li>
            <li>Book Price: {{ book.price }}</li>
            <li>Book Price: {{ book.price }}</li>
            <li>Book URL: {{ book.purchase_link }}</li>
          {% endcomment %}
          <img src="{{ book.cover.url }}" width="246" height="400" />
          <br />
          <br />
          <p class="book-item__title">{{ book.title }}</p>
          <p class="book-item__author">{{ book.author }}</p>
          </a>
        </ul>
      </div>
      {% endfor %}
    </div>
{% endblock %}