{% extends "base.html" %}
{% load static %}
{% block main %}
<section class="about-me">
  <picture class="about-me__picture">
    <img class="about-me__image" src="{% static 'images/about-me-image.png' %}" />
    <!-- <p class="about-me__image-alt">Fotoğraf: Berker Okan</p> -->
  </picture>
  <div class="about-me__content">
    <p class="about-me__content-intro">Hoş geldiniz!</p>
    <p class="about-me__content-text">
      Merhaba, ben <span class="bold">Berker Okan</span>. Burası da benim kişisel web sitem!
      <br />
      <br />
      2013 yılında yayımlanan Kırmızı Atkılı İstavrit kitabımla yazarlık
      serüvenime başladım. Sırasıyla Mavi Kız Kahve Çocuk, Son Yolculuk ve
      Hemingway (Vazgeçmeden Önce Deneyin) kitaplarını yazdım. Bir süredir de
      <a href="https://open.spotify.com/show/6dliHl4sLaj2qO6qTQQ1AL?si=5da1f248390f4035">Mırıldanmalar</a> isimli
      podcast yayınını yapıyorum.
      <br />
      <br />
      Bu web sitesini, hayatım boyunca yaptığım bütün çalışmalarımı bir arada
      tutmak için ve hem kendime hem de okura bir andaç olması adına
      hazırlıyorum. Ayrıca siteye üye olanlara her ay yayımlanacak 
      <a href="{% url 'newsletter' %}"><span>özel bültenimle</span></a>
      takipçilerimle güçlü bir bağ kurmayı hedefliyorum.
      <br />
      <br />
      <a href="{% url 'articles:articles-list' %}">Yazılarım</a> kısmından yazdığım hikayeler, öyküler vb. arasında
      kelime ile
      arama yapabilir, zamana ve türe göre filtreleyebilirsiniz. Aynı
      şekilde <a href="{% url 'books:books-list' %}">kitaplarım</a> ve <a
        href="https://open.spotify.com/show/6dliHl4sLaj2qO6qTQQ1AL?si=c7c14b2620f64a54">podcast’lerim</a> sayfalarında
      da daha detaylı dökümlere
      ulaşabilirsiniz.
      <br />
      <br />
      Web siteme ziyaretiniz için teşekkür ederim. Umarım keyifli vakit
      geçirirsiniz. Hoş kalın..
    </p>
    <p class="about-me__content-signature">Berker.</p>
  </div>
</section>
<section class="works">
  <div class="work last-book">
    <h2 class="work__heading">Son Yazdığım Kitap</h2>
    <p class="work__alt-text work__alt-text--format">25 Ocak 2024</p>
    <picture class="last-book-image">
      <img src="{% static 'images/book-covder.png' %}" alt="Ernest Hemingway">
    </picture>
    <p class="last-book-name last-book-details">Ernest Hemingway</p>
    <p class="last-book-genre last-book-details work__alt-text work__alt-text--format">Biyografi Kitabı</p>
  </div>
  <ul class="work work__links quick-links">
    <li class="quick-link__item">
      <div class="work__links-item">
        <h2 class="work__heading">
          <img src="{% static 'icons/books.svg' %}" alt="book vector art" />
          <span>Kitaplarım</span>
        </h2>
        <p class="work__alt-text">
          Kütüphanemdeki tüm kitapları <a href="{% url 'books:books-list' %}">burada</a> görebilir ve
          detaylı arama / filtreleme yapabilirsiniz
        </p>
      </div>
      <div class="work__links-item">
        <h2 class="work__heading">
          <img src="{% static 'icons/pen.svg' alt=" pen vector art" %}" />
          <span>Yazılarım</span>
        </h2>
        <p class="work__alt-text">
          Öykü, deneme vb. türlerde olan tüm yazılarımı <a href="{% url 'articles:articles-list' %}">bu sayfadan</a>
          inceleyebilirsiniz.
        </p>
      </div>
      <div class="work__links-item">
        <h2 class="work__heading">
          <img src="{% static 'icons/world.svg' %}" alt="World vector art" />
          <span>Özel Bültenim</span>
        </h2>
        <p class="work__alt-text">
          Benimle (ve yaptığım eserlerle/işlerle) alakalı aylık olarak içerik bültenleri almak için 
          <a href="{% url 'newsletter' %}">bu sayfayı</a>
          inceleyebilirsiniz.
        </p>
      </div>
    </li>
  </ul>
  <div class="work book-quote">
    <h2 class="work__heading">Bir Parça Alıntı</h2>
    <p class="work__alt-text">
      Bloomberg HT’de her hafta hazırlayıp sunduğum Pandora’nın Merakı adlı TV programı, Tuğçe
      Arslan Üçer ile beraber yaptığımız 1 Kitap 1 Film 1 Şey podcast, Gatherin platformunda yürüttüğüm aylık kitap
      kulüpleri, KAFA dergisinde her ay yazdığım kitap eleştirileri, K24 için yaptığım röportajlar, başka mecralarda
      yayımlanan yazılarım ve söyleşilerim, 2017’den beri mare.design markası altında profesyonel olarak yürüttüğüm web
      designer kariyerim ve daha fazlası.Bir sürü işe bulaşmış biri olarak yaptığım her şeyi bu sayfada listeledim,
      benimle ilgili detaylı bilgiye buradan ulaşabilirsiniz.
    </p>
  </div>
</section>
{% comment "" %}
<section class="social-media">
  <h2 class="social-media__heading">Sosyal Medyada Ben</h2>
  <ul class="social-media__list">
    <li class="social-media__item">
      <a class="social-media__item-svg-link" href="https://open.spotify.com/show/6dliHl4sLaj2qO6qTQQ1AL">
        <img class="social-media__item-image" src="{% static 'icons/spotify.svg' %}" alt="Spotify logo" />
      </a>
      <div class="social-media__item-right">
        <h3 class="social-media__item-right-heading">
          <a class="social-media__item-right-heading-link"
            href="https://open.spotify.com/show/6dliHl4sLaj2qO6qTQQ1AL">Mırıldanmalar</a>
        </h3>
        <p class="social-media__item-right-description">Podcast'im</p>
      </div>
    </li>
    <li class="social-media__item">
      <a class="social-media__item-svg-link" href="https://twitter.com/BerkerOkan">
        <img class="social-media__item-image" src="{% static 'icons/x.svg' %}" alt="X logo" />
      </a>
      <div class="social-media__item-right">
        <h3 class="social-media__item-right-heading">
          <a class="social-media__item-right-heading-link" href="https://twitter.com/BerkerOkan">Twitter</a>
        </h3>
        <p class="social-media__item-right-description">@BerkerOkan</p>
      </div>
    </li>
    <li class="social-media__item">
      <a class="social-media__item-svg-link" href="https://1000kitap.com/yazar/berker-okan">
        <img class="social-media__item-image" src="{% static 'icons/book.svg' %}" alt="1000kitap.com logo" />
      </a>
      <div class="social-media__item-right">
        <h3 class="social-media__item-right-heading">
          <a class="social-media__item-right-heading-link" href="https://1000kitap.com/yazar/berker-okan">1000 kitap</a>
        </h3>
        <p class="social-media__item-right-description">kitaplarım</p>
      </div>
    </li>
    <li class="social-media__item">
      <a class="social-media__item-svg-link" href="https://www.instagram.com/berkerokan/">
        <img class="social-media__item-image" src="{% static 'icons/instagram.svg' %}" alt="Instagram logo" />
      </a>
      <div class="social-media__item-right">
        <h3 class="social-media__item-right-heading">
          <a class="social-media__item-right-heading-link" href="https://www.instagram.com/berkerokan/">Instagram</a>
        </h3>
        <p class="social-media__item-right-description">@berkerokan</p>
      </div>
    </li>
  </ul>
</section>
{% endcomment %}
{% endblock %}