<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="margin-bottom: 24px">
      <h1>Abone Ol: {{ newsletter.name }}</h1>
      <p>{{ newsletter.description }}</p>
    </div>

    <form method="post" action="{% url 'subscribe' %}">
      {% csrf_token %}

      <input
        type="text"
        placeholder="first name"
        id="first-name"
        name="first-name"
      />

      <input
        type="text"
        placeholder="last name"
        id="last-name"
        name="last-name"
      />

      <input type="email" placeholder="email" id="email" name="email" />

      <input type="submit" value="Subscribe now" />
    </form>

    <div>
      <p>
        Son bülten yayınım: {{ latest_post.title }}
        <span>{{ latest_post.published_at }}</span>
      </p>
      <p>{{ latest_post.content }}</p>
    </div>
  </body>
</html>
