@use "../abstracts";

.grid-body {
  display: grid;
  grid-template-columns: auto 1fr;
}

.grid-main {
  display: grid;
  width: 114rem;
  margin: 0 auto;

  grid-column: 2 / -1;

  @include abstracts.respond("l-desktop") {
    width: 108rem;
  }
}