@use "../abstracts";

.grid-body {
  display: grid;
  grid-template-columns: auto 1fr;
}

.grid-main {
  display: grid;
  width: 114rem;
  margin: 0 auto;

  grid-column: 2 / -1;

  @include abstracts.respond("l-desktop") {
    margin-right: 7.5vw;
    width: 108rem;
  }
  @include abstracts.respond("m-desktop") {
    margin-right: 2vw;
    width: calc(95% - var(--nav-width));
  }
  @include abstracts.respond("xs-desktop") {
    margin-right: 1rem;
    width: calc(97% - var(--nav-width));
  }
}
