$nero: #fafafa;
$black: #111;
$silver: #ccc;
$sandy-brown: #f0ad4e;
$geyser: #ccd6df;
$alto: #ddd;
$gallery: #efefef;
$dove-gray: #666666;
$boulder: #757575;
$noubel: #b3b3b3;
$mine-shaft: #333333;
$satin-linen: #dfd8c9;