* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

a {
  color: inherit;
}
a:hover {
  font-style: italic;
}

html {
  color-scheme: dark light;
  font-size: 62.5%;
  hanging-punctuation: first last;
}
@media (max-width: 100em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 79.1666666667em) {
  html {
    font-size: 50%;
  }
}

body {
  min-height: 100dvh;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #fafafa;
  color: #111;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}
.grid-body {
  display: grid;
  grid-template-columns: auto 1fr;
}

.grid-main {
  display: grid;
  width: 114rem;
  margin: 0 auto;
  grid-column: 2/-1;
}
@media (max-width: 100em) {
  .grid-main {
    width: 108rem;
  }
}
@media (max-width: 87.5em) {
  .grid-main {
    margin-right: clamp(2rem, 12vw, 20rem);
  }
}
@media (max-width: 87.5em) {
  .grid-main {
    margin-right: clamp(3rem, 6.5vw, 10rem);
  }
}
@media (max-width: 66.6666666667em) {
  .grid-main {
    width: 104rem;
  }
}
@media (max-width: 64em) {
  .grid-main {
    width: 100rem;
    margin: 0;
    margin-left: clamp(15rem, 13vw, 20rem);
  }
}
@media (max-width: 60em) {
  .grid-main {
    margin-inline: 0;
    place-self: center;
    margin-top: 15rem;
  }
}
@media (max-width: 53.3336em) {
  .grid-main {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 50em) {
  .grid-main {
    width: clamp(90%, 85rem, 99%);
  }
  .grid-main p {
    font-size: 1.4em;
  }
}

.nav {
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  grid-column: 1/2;
  background-color: #dfd8c9;
  padding: 1.6rem 1.6rem 6rem;
}
.nav__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.nav__menu {
  display: none;
}
.nav__links {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.nav__item {
  text-align: right;
}
.nav__link {
  color: #111;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  /* 147.465% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
}
.nav__link:hover, .nav__link:active {
  font-style: italic;
}
.nav__logo {
  max-width: 11rem;
}
@media (max-width: 60em) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    padding: 1.4rem;
  }
  .nav .nav__links {
    flex-direction: row;
    gap: 3rem;
  }
  .nav .nav__logo {
    max-width: 6rem;
  }
}
@media (max-width: 41.6664em) {
  .nav {
    position: fixed;
    width: 100%;
  }
  .nav .nav__main.active .nav__links {
    height: 40rem;
  }
  .nav .nav__main.active .nav__menu--open {
    display: none;
  }
  .nav .nav__main.active .nav__menu--close {
    display: block;
  }
  .nav .nav__main .nav__menu {
    width: 4rem;
    cursor: pointer;
  }
  .nav .nav__main .nav__menu--open {
    display: block;
  }
  .nav .nav__main .nav__menu--close {
    display: none;
  }
  .nav .nav__main .nav__links {
    position: absolute;
    left: 0;
    top: 10rem;
    background-color: #dfd8c9;
    flex-direction: column;
    gap: 0;
    align-items: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  .nav .nav__main .nav__links .nav__item {
    width: 100%;
    text-align: center;
    padding: 2rem 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  .nav .nav__main .nav__links .nav__item:hover {
    background-color: #fafafa;
  }
  .nav .nav__main .nav__links .nav__item .nav__link {
    font-size: 1.4em;
    width: 100%;
  }
}

.about-me {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  padding: 2rem;
  gap: 4rem;
  grid-column: 1/-1;
}
.about-me .about-me__picture {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  gap: 1.6rem;
  align-items: center;
}
.about-me .about-me__image {
  width: 32.2rem;
  border-radius: 50%;
  filter: grayscale(100%);
}
.about-me .about-me__image-alt {
  text-align: center;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.8;
}
.about-me .about-me__content {
  grid-column: 2/-1;
}
.about-me .about-me__content-intro {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 2.8rem;
  position: relative;
  font-family: "Libre Caslon Text", serif;
}
.about-me .about-me__content-intro::before {
  content: "";
  position: absolute;
  left: 27rem;
  width: calc(100% - 27rem);
  height: 1px;
  background-color: #ccc;
  right: 0;
  top: 50%;
  bottom: 50%;
}
.about-me .about-me__content-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  /* 118.75% */
  font-size: 1.6rem;
}
.about-me .about-me__content-signature {
  text-align: right;
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 400;
  margin-top: 3.2rem;
  line-height: 1.8;
  /* 100% */
  position: relative;
}
.about-me .about-me__content-signature::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 1px;
  background-color: #ccc;
  right: 9rem;
  top: 50%;
}
@media (max-width: 64em) {
  .about-me {
    grid-template-columns: auto 1fr;
    gap: 3rem;
  }
  .about-me .about-me__image {
    width: 26rem;
  }
}
@media (max-width: 64em) {
  .about-me {
    gap: 2rem;
  }
  .about-me .about-me__image {
    width: 25rem;
  }
}
@media (max-width: 50em) {
  .about-me {
    display: flex;
    flex-direction: column;
  }
  .about-me .about-me__content {
    width: 100%;
  }
  .about-me .about-me__picture {
    grid-column: 1/1;
  }
  .about-me .about-me__picture .about-me__image {
    width: 32.2rem;
  }
  .about-me .about-me__content-text {
    font-size: 1.3em;
  }
}

.works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 3.5rem;
  margin-top: 3rem;
}
@media (max-width: 76em) {
  .works {
    gap: 2rem;
  }
  .works .work.book-quote {
    margin: 0;
  }
}
@media (max-width: 66.6666666667em) {
  .works {
    gap: 1.5rem;
    grid-template-columns: repeat(10, 1fr);
  }
  .works .work.last-book .last-book-image {
    margin-inline: 2rem;
  }
  .works .work.work__links.quick-links {
    margin-inline: 2rem;
    grid-column: 1/11;
    grid-row: 1;
    margin-bottom: 1rem;
  }
  .works .work.work__links.quick-links .quick-link__item {
    flex-direction: row;
  }
  .works .work.work__links.quick-links .quick-link__item .work__alt-text::before {
    display: none;
  }
  .works .work.work__links.quick-links .quick-link__item .work__links-item {
    position: relative;
  }
  .works .work.work__links.quick-links .quick-link__item .work__links-item .work__heading {
    width: fit-content;
  }
  .works .work.work__links.quick-links .quick-link__item .work__links-item .work__alt-text {
    width: fit-content;
    text-wrap: balance;
    margin-bottom: 2rem;
  }
  .works .work.work__links.quick-links .quick-link__item .work__links-item::before {
    position: absolute;
    content: "";
    right: 2rem;
    top: -5%;
    width: 0.9px;
    height: 90%;
    background-color: #ccc;
  }
  .works .work.work__links.quick-links .quick-link__item .work__links-item:last-child::before {
    display: none;
  }
  .works .work.last-book {
    grid-column: span 3;
  }
  .works .work.book-quote {
    grid-column: span 7;
  }
}
@media (max-width: 53.3336em) {
  .works .work.work__links.quick-links .quick-link__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .works .work.work__links.quick-links .quick-link__item .work__links-item::before {
    right: -0.3rem;
  }
}
@media (max-width: 41.6664em) {
  .works .work.last-book {
    grid-column: span 4;
  }
  .works .work.book-quote {
    grid-column: span 6;
    margin-right: 3rem;
  }
}
@media (max-width: 36.6664em) {
  .works .work.last-book {
    grid-row: auto;
    grid-column: span 5;
  }
  .works .work.work__links.quick-links {
    grid-row: auto;
    grid-column: span 5;
  }
  .works .work.work__links.quick-links .quick-link__item {
    display: grid;
    grid-template-columns: 1fr;
  }
  .works .work.work__links.quick-links .quick-link__item .work__links-item::before {
    width: 90%;
    left: 0%;
    top: 100%;
    height: 0.8px;
  }
  .works .work.book-quote {
    grid-row: 1;
    grid-column: span 10;
    margin-inline: 1rem;
  }
}
@media (max-width: 33.3336em) {
  .works {
    grid-template-columns: repeat(20, 1fr);
  }
  .works .work.last-book {
    grid-row: auto;
    grid-column: span 19;
  }
  .works .work.work__links.quick-links {
    grid-row: auto;
    grid-column: span 19;
  }
  .works .work.book-quote {
    grid-row: auto;
    grid-column: span 19;
  }
}

.work__heading {
  font-size: 2.8rem;
  font-family: "Libre Caslon Text", serif;
  margin-bottom: 2rem;
}
.work__heading:has(img) {
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: center;
  align-items: center;
  gap: 1rem;
}
.work__alt-text {
  font-weight: 400 !important;
  margin-bottom: 4rem;
  position: relative;
  line-height: 1.5;
}
.work__alt-text--format {
  font-family: "Libre Caslon Text", serif;
}
.work.last-book .work__heading,
.work.last-book .work__alt-text {
  text-align: center;
  margin: 0;
}
.work.last-book .last-book-details {
  font-weight: 600;
  text-align: center;
}
.work.last-book .last-book-image {
  margin-bottom: 2rem;
  margin-inline: 2rem;
}
.work.last-book .last-book-name {
  font-size: 2rem;
}
.work.last-book .last-book-genre {
  margin-bottom: 2rem;
}
@media (max-width: 70.8333333333em) {
  .work.last-book .last-book-image {
    margin-bottom: 0;
    margin-inline: 1rem;
  }
}
.work.book-quote .work__alt-text::before, .work.last-book .work__alt-text::before {
  display: none;
}
.work__links-item:not(:last-child) .work__alt-text::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4rem;
  width: 100%;
  height: 0.9px;
  background-color: #ccc;
}
.work__links li {
  height: 100%;
}

.last-book {
  grid-column: 1/2;
}
.last-book-image img {
  margin: 0 auto;
}

.quick-links {
  grid-column: 2/3;
  list-style: none;
}

.quick-link__item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.book-quote {
  grid-column: 3/4;
  margin-inline-start: 2rem;
}

.book__heading {
  font-size: 4rem;
  font-family: "Libre Caslon Text", serif;
  position: relative;
  align-self: end;
  margin-bottom: 1rem;
}
.book__heading::before {
  content: "";
  position: absolute;
  left: 24rem;
  width: calc(100% - 24rem);
  height: 1px;
  background-color: #ccc;
  top: 50%;
}
.book-search__form {
  padding: 3rem;
  height: fit-content;
  background-color: #dfd8c9;
}
.book-search__form-input, .book-search__form-select, .book-search__form-option {
  padding-inline: 2rem;
  padding-block: 1rem;
  font-size: 1.6rem;
  border: solid 1px #666666;
  background-color: #efefef;
  color: #111;
}
.book__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.book-item ul {
  position: relative;
}
.book-item ul div.rating {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  justify-content: center;
}
.book-item ul div.rating img {
  width: 2.5rem;
}
.book-item ul li {
  list-style: none;
  display: none;
}
.book-item ul li.highlighted {
  display: block;
  position: absolute;
  top: -2.2rem;
  left: 50%;
  width: max-content;
  transform: translateX(-50%) skew(-15deg);
  text-align: center;
  font-family: "Libre Caslon Text", serif;
  font-size: 2rem;
}
.book-item ul a {
  text-decoration: none;
}
.book-item ul .book-item__title {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  padding-inline: 1rem;
}
.book-item ul .book-item__author {
  font-size: 2rem;
  text-align: center;
}
.book-item ul .book-item__image {
  margin-bottom: 2rem;
  aspect-ratio: 3/5;
  width: 27.7rem;
}
@media (max-width: 60em) {
  .book-search__form {
    margin-bottom: 4rem;
  }
}
@media (max-width: 50em) {
  .book-search__form, .book__heading, .book__container {
    margin-inline: 2rem;
  }
  .book-search__form {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
  }
  .book-search__form input[name=search-query] {
    grid-column: 1/span 2;
  }
  .book__container {
    margin-top: 4rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 33.3336em) {
  .book .book-item ul li.highlighted {
    font-size: 2rem;
  }
  .book-search__form, .book__heading, .book__container {
    margin-inline: 1.5rem;
  }
  .book-search__form {
    padding: 1.5rem;
  }
  .book__container {
    margin-top: 4rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.article__heading {
  font-size: 4rem;
  font-family: "Libre Caslon Text", serif;
  position: relative;
  align-self: end;
  margin-bottom: 1rem;
}
.article__heading::before {
  content: "";
  position: absolute;
  left: 22rem;
  width: calc(100% - 22rem);
  height: 1px;
  background-color: #ccc;
  top: 50%;
}
.article-search__form {
  padding: 3rem;
  height: fit-content;
  background-color: #dfd8c9;
}
.article-search__form-input, .article-search__form-select, .article-search__form-option {
  padding-inline: 2rem;
  padding-block: 1rem;
  font-size: 1.6rem;
  border: solid 1px #666666;
  background-color: #efefef;
  color: #111;
}
.article__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.article__item a {
  text-decoration: none;
}
.article__item a img {
  aspect-ratio: 1/1;
  width: 100%;
}
.article__item-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.article__item-image {
  margin-bottom: 2rem;
}
.article__item-description {
  text-align: center;
  margin-inline: 0.5rem;
  margin-bottom: 1rem;
}
.article__item-author {
  font-size: 1.8rem;
  font-family: "Libre Caslon Text", serif;
  text-align: end;
  font-style: italic;
}

.gallery__heading {
  font-size: 4rem;
  font-family: "Libre Caslon Text", serif;
  position: relative;
  align-self: end;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.gallery__heading::before {
  content: "";
  position: absolute;
  left: 34rem;
  width: calc(100% - 34rem);
  height: 1px;
  background-color: #ccc;
  top: 50%;
}
.gallery__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.gallery__item a {
  text-decoration: none;
}
.gallery__item-image {
  margin-bottom: 2rem;
}
.gallery__item-title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}
.gallery__item-description {
  text-align: center;
  margin-inline: 5px;
}
.gallery__item-count {
  text-align: end;
}

.social-media {
  padding-block: 3rem;
  margin-top: 3rem;
}
.social-media__heading {
  position: relative;
  font-size: 2.8rem;
  margin-bottom: 1rem;
  font-family: "Libre Caslon Text", serif;
}
.social-media__heading::before {
  position: absolute;
  content: "";
  left: 30rem;
  width: calc(100% - 30rem);
  height: 0.9px;
  background-color: #ccc;
  top: 50%;
}
.social-media__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.social-media__item {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.social-media__item-svg-link {
  padding: 0.8rem;
  border-radius: 50%;
  background-color: #dfd8c9;
  display: block;
  width: fit-content;
  transition: all 0.5s ease;
}
.social-media__item-svg-link:hover {
  filter: invert(1);
}
.social-media__item-svg-link .social-media__item-image {
  width: 3.5rem;
}
.social-media__item-right-heading {
  font-size: 2rem;
  font-weight: 600;
}
.social-media__item-right-heading-link {
  text-decoration: none;
}
.social-media__embeds {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.social-media__embeds .twitter-timeline {
  height: 75rem !important;
  overflow-y: scroll;
}
.social-media__embeds .instagram-media {
  height: 75rem;
}
.social-media__embeds .spotify-embed {
  width: 100%;
  grid-column: 1/span 2;
}
@media (max-width: 53.3336em) {
  .social-media {
    width: 95%;
    margin-inline: 2rem;
  }
  .social-media .social-media__list {
    gap: clamp(1rem, 6vw, 6rem);
    justify-content: center;
  }
  .social-media .social-media__embeds {
    gap: 3rem;
    display: flex;
    flex-direction: column;
  }
  .social-media .social-media__embeds .twitter-timeline,
  .social-media .social-media__embeds .instagram-media {
    height: 110rem;
  }
}
@media (max-width: 50em) {
  .social-media {
    width: 92%;
  }
  .social-media .social-media__list {
    justify-content: space-evenly;
  }
  .social-media .social-media__list .social-media__item-svg-link {
    padding: 0.7rem;
  }
  .social-media .social-media__list .social-media__item-svg-link .social-media__item-image {
    width: 4rem;
  }
  .social-media .social-media__item-right {
    display: none;
  }
}
@media (max-width: 41.6664em) {
  .social-media .social-media__list .social-media__item-svg-link {
    padding: 0.8rem;
  }
  .social-media .social-media__list .social-media__item-svg-link .social-media__item-image {
    width: 4rem;
  }
}

.book-detail {
  display: flex;
  gap: 1rem;
  margin-top: 5rem;
}
.book-detail__left-image {
  aspect-ratio: 3/5;
  height: 60rem;
  min-width: 35rem;
}
.book-detail__right {
  flex-grow: 1;
}
.book-detail__right-heading {
  font-size: 3.4rem;
  font-family: "Libre Caslon Text", serif;
  margin-bottom: 2rem;
}
.book-detail__right-horizontal {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.book-detail__right-horizontal.fullgap {
  gap: 0;
  justify-content: space-between;
}
.book-detail__right-author {
  font-weight: 600;
  font-size: 2rem;
}
.book-detail__right-buy {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.8rem;
  border-radius: 3px;
  padding-block: 1rem;
  padding-inline: 2rem;
  background-color: #111;
  color: #fafafa;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  transition: all 0.3s ease;
}
.book-detail__right-buy img {
  width: 2.5rem;
  display: inline;
  filter: invert(1);
}
.book-detail__right-buy:hover {
  opacity: 0.85;
  font-style: normal;
}
.book-detail__right-description {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: 0.5px;
}
.book-detail__right-rating {
  display: flex;
}
.book-detail__right-rating img {
  width: 3rem;
}
.book-detail__add-rating-input, .book-detail__add-rating-select, .book-detail__add-rating-option {
  padding-inline: 1.5rem;
  padding-block: 1rem;
  font-size: 1.6rem;
  border: solid 1px #666666;
  background-color: #efefef;
  color: #111;
}
.book-detail__add-rating-input.scale, .book-detail__add-rating-select.scale, .book-detail__add-rating-option.scale {
  min-width: 25rem;
}

.comments__heading {
  font-size: 3.4rem;
  font-family: "Libre Caslon Text", serif;
  margin-bottom: 2rem;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
.comments__heading img {
  width: 3.5rem;
}
.comments__item {
  list-style: none;
}
.comments__item.subcomment {
  margin-left: 5rem;
}
.comments__item.subcomment .comments__item-top-image {
  padding: 0.5rem;
}
.comments__item.subcomment .comments__item-top-container {
  padding: 1rem;
}
.comments__item-top {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  width: fit-content;
}
.comments__item-top-image {
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: #b3b3b3;
  grid-row: 1/span 2;
  margin-right: 1rem;
}
.comments__item-top-container {
  padding: 1.5rem;
  background-color: #dfd8c9;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}
.comments__item-top-author {
  font-weight: 600;
}
.comments__item-bottom-action {
  padding-block: 1rem;
  padding-inline: 1.5rem;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: #111;
  color: #fafafa;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.comments__item-bottom-action:hover {
  opacity: 0.85;
  font-style: normal;
}

.add-comment {
  margin-bottom: 6rem;
}
.add-comment.subcomment {
  margin-left: 5rem;
}
.add-comment.subcomment .add-comment__heading {
  margin-top: 2rem;
  font-size: 2.8rem;
}
.add-comment.subcomment .add-comment__heading img {
  width: 3.5rem;
}
.add-comment.subcomment .add-comment__form {
  margin-inline: 2rem;
}
.add-comment__heading {
  font-size: 3.4rem;
  font-family: "Libre Caslon Text", serif;
  margin-bottom: 2rem;
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
}
.add-comment__heading img {
  width: 4rem;
}
.add-comment__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.add-comment__form-textarea {
  resize: vertical;
}
.add-comment__form-input, .add-comment__form-select, .add-comment__form-option, .add-comment__form-textarea {
  padding-inline: 1.5rem;
  padding-block: 1rem;
  font-size: 1.8rem;
  border: solid 1px #666666;
  border-radius: 2px;
  background-color: #efefef;
  color: #111;
  grid-column: span 2;
}
.add-comment__form-input.fullwidth, .add-comment__form-select.fullwidth, .add-comment__form-option.fullwidth, .add-comment__form-textarea.fullwidth {
  grid-column: span 4;
}
.add-comment__form-input.hidden, .add-comment__form-select.hidden, .add-comment__form-option.hidden, .add-comment__form-textarea.hidden {
  display: none;
}
.add-comment__form-input.left, .add-comment__form-select.left, .add-comment__form-option.left, .add-comment__form-textarea.left {
  justify-self: start;
}
.add-comment__form-input.checkbox, .add-comment__form-select.checkbox, .add-comment__form-option.checkbox, .add-comment__form-textarea.checkbox {
  width: 2.5rem;
  grid-column: span 1;
  height: 2.5rem;
}
.add-comment__form-input.submit, .add-comment__form-select.submit, .add-comment__form-option.submit, .add-comment__form-textarea.submit {
  grid-column: 2/span 2;
}
.add-comment__form-label {
  font-size: 1.8rem;
  grid-column: span 3;
}

.article-detail {
  display: flex;
  gap: 1rem;
  margin-top: 5rem;
}
.article-detail__left-image {
  height: auto;
  min-width: 35rem;
  margin-bottom: 2rem;
}
.article-detail__left-like {
  text-decoration: none;
  display: inline-flex;
  margin-top: 1rem;
  align-items: center;
  width: fit-content;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  background-color: #111;
  color: #fafafa;
  border-radius: 1rem;
}
.article-detail__left-like img {
  width: 3rem;
}
.article-detail__right {
  flex-grow: 1;
}
.article-detail__right-heading {
  font-size: 3.4rem;
  font-family: "Libre Caslon Text", serif;
  margin-bottom: 2rem;
}
.article-detail__right-horizontal {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.article-detail__right-horizontal.fullgap {
  gap: 0;
  justify-content: space-between;
}
.article-detail__right-author {
  font-weight: 600;
  font-size: 2rem;
}
.article-detail__right-description {
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  /* letter-spacing: 0.5px; */
  line-height: 1.35;
}
.article-detail__right-rating {
  display: flex;
}
.article-detail__right-rating img {
  width: 3rem;
}
.article-detail__add-rating-input, .article-detail__add-rating-select, .article-detail__add-rating-option {
  padding-inline: 1.5rem;
  padding-block: 1rem;
  font-size: 1.6rem;
  border: solid 1px #666666;
  background-color: #efefef;
  color: #111;
}
.article-detail__add-rating-input.scale, .article-detail__add-rating-select.scale, .article-detail__add-rating-option.scale {
  min-width: 25rem;
}

.big-image-container {
  position: fixed;
  inset: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}
.big-image-container:has(img.active) {
  display: flex;
}

html:has(.big-image-container img.active) {
  overflow: hidden;
}

.gallery-detail__heading {
  font-size: 3.4rem;
  font-family: "Libre Caslon Text", serif;
  position: relative;
  width: fit-content;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.gallery-detail__heading::before {
  content: "";
  position: absolute;
  right: -7rem;
  width: 5rem;
  height: 1px;
  background-color: #ccc;
  top: 50%;
}
.gallery-detail__count {
  text-align: start;
}
.gallery-detail__description {
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  line-height: 2rem;
}
.gallery-detail__main {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.gallery-detail__main-item {
  cursor: pointer;
  height: 25rem;
}
.gallery-detail__main-item.active {
  background-color: red;
}
.gallery-detail__main-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
span.bold {
  font-weight: 700;
}

main.load_effect {
  opacity: 0;
  animation: load_anim 0.45s ease-in 0.15s forwards;
}

@keyframes load_anim {
  0% {
    opacity: 0;
    filter: contrast(0) brightness(2);
  }
  100% {
    opacity: 1;
    filter: contrast(1) brightness(1);
  }
}
